* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f1f1f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}

#main-navbar {
    margin: 0;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        font-size: 30px;
        font-family: serif;
        color: white;
        text-decoration: none;
    }
}

.nav {
    display: flex;
    list-style: none;

    .nav-link {
        text-decoration: none;
        color: white;
        padding: 10px;
        font-size: 20px;
        border-radius: 6px;
        &:hover {
            text-decoration: underline;
        }
    }

    @media(max-width: 576px) {
        .nav-link {
            padding: 6px;
        }
    }
}

.container {
    width: 70%;
    margin: auto;
    padding: 20px 60px;
    text-align: center;
}

@media(max-width: 1140px) {
    .container {
        width: 100%;
        padding: 20px 10px;
    }
}

#intro {
    padding: 20px 0px;

    #avatar {
        width: 150px;
        border-radius: 200px;
        margin-bottom: 20px;
    }

    #intro-line {
        font-size: 20px;
    }
}

.section-heading {
    padding: 30px 0 15px 0;
    font-size: 35px;
}

.badges {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.badge {
    background-color: slategray;
    padding: 4px 10px;
    margin: 4px;
    border-radius: 24px;
}

.project {
    padding: 30px 0;

    .project-title {
        padding: 10px 0;
    }

    .project-photo {
        width: 70%;
        margin: auto;
        border-radius: 7px;
    }

    .project-about {
        width: 80%;
        margin: auto;
    }

    @media(max-width: 1140px) {
        .project-photo {
            width: 90%;
        }
        .project-about {
            width: 90%;
        }
    }
}

.social-links, .project-links {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;

    .social-link, .project-link {
        text-decoration: none;
        padding: 6px;
        min-width: 80px;
        border-radius: 5px;
        background-color: #3377C0;
        color: white;
        font-weight: bold;

        &:hover {
            background-color: darken($color: #3377C0, $amount: 10);
        }
    }
}

#main-footer {
    text-align: center;
    padding: 30px 0 10px 0;
}